.Song {
  text-align: center;
}

.Song-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  color: #26272b;
}

@media (prefers-reduced-motion: no-preference) {
  .Song-logo {
    animation: Song-logo-spin infinite 20s linear;
  }
}

.Song-header {
  background-color: #ECFDF5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #26272b;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.Song-link {
  color: #61dafb;
}

@keyframes Song-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li{
  text-align: center;
}
